<link rel="import" href="../js/vendor/polymer/polymer.html">
<link rel="import" href="../js/vendor/core-input/core-input.html">

<polymer-element name="droplet-area" attributes="style input">

    <template>

        <section class="droparea" style="{{ style | styleObject }}"
                 on-dragleave="{{preventDefault}}"
                 on-dragenter="{{preventDefault}}"
                 on-dragover="{{preventDefault}}"
                 on-drop="{{drop}}">

            <template repeat="{{image in images}}">
                <img class="image-preview" src="{{image}}" />
            </template>

        </section>

        <style type="text/css">

            section.droparea  {
                padding: 5px;
            }

            section.droparea img.image-preview  {
                float: left;
                overflow: hidden;
                width: 60px;
                height: 60px;
                margin: 10px;
                box-shadow: 0 0 5px rgba(0, 0, 0, .15);
                border: 1px solid rgba(0, 0, 0, .15);
            }

        </style>

    </template>

    <script type="text/javascript">

        Polymer('droplet-area', {

            /**
             * @property images
             * @type {Array}
             */
            images: [],

            /**
             * @property input
             * @type {String|Object}
             */
            input: '',

            ready: function ready() {

                if (!this.input) {

                    // Ensure the user has defined the `input` attribute.
                    throw "PolymerDroplet: You have neglected to specify the `input` attribute.";

                }

                // Transform the input attribute into a valid node.
                this.input = document.querySelector('input.' + this.input);

                if (!this.input || !this.input.hasOwnProperty('files')) {

                    // Assert that we have an element from the selector.
                    throw "PolymerDroplet: Unable to resolve the `input` element.";

                }

            },

            /**
             * @method drop
             * @return {void}
             */
            drop: function drop(event, files) {
                this.preventDefault(event);
                this.images = [];
                this.traverseFiles(event.dataTransfer.files);
            },

            /**
             * @method traverseFiles
             * @return {void}
             */
            traverseFiles: function traverseFiles(files) {

                for (var index = 0, numFiles = files.length; index < numFiles; index++) {

                    var file = files[index];

                    if (file.type.match(/^image\//i)) {
                        this.readImage(file);
                    }

                }

                // Assign the value to the input element.
                this.input.files = files;

            },

            /**
             * @method readImage
             * @param image {Object}
             * @return {void}
             */
            readImage: function readImage(image) {

                var fileReader = new FileReader(),
                    images     = this.images;

                // Once the image has been read by the file reader.
                fileReader.onload = function onload(event) {

                    images.push(event.target.result);

                }.bind(this);

                fileReader.readAsDataURL(image);

            },

            /**
             * @method preventDefault
             * @param event {Object}
             * @return {void}
             */
            preventDefault: function preventDefault(event) {
                event.stopPropagation();
                event.preventDefault();
            }

        });

    </script>

</polymer-element>